<h1>TASKS</h1>
  <div class="container">
    <% @tasks.each do |task| %>
      <h2 class="header">
        <% if task.completed? %>
          ✅
        <% else %>
          ⬜️
        <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to "❌", task_path(task.id),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "index" %>
      </h2>
    <% end %>

<%= link_to "Create New Task", new_task_path, class: "link" %>

 </div>
